<section class="todoapp">
    <header class="header">
      <h1>Blog Categories</h1>
    </header>
    <section class="main">
      <ul class="todo-list">
        <li *ngFor="let category of categories">
          <div class="view" [class.selected]="category.selected">
            <input class="toggle" type="checkbox" (click)="updateCategory(category)" [checked]="category.selected">
            <label>{{ category.name }}</label>
           </div>
        </li>
      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count selected-blog-category" *ngIf="selectedCategory !== ''">Selected Category : {{selectedCategory.name}}</span>
    </footer>
</section>